<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.atharvakulkarni.e_commerce">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ecommerce_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".search_result">




        </activity>
        <activity android:name=".show_product">


        </activity>
        <activity android:name=".cart">
        </activity>

        <activity android:name=".sigin_signup">
        </activity>

        <activity android:name=".order_placing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>